<div class="row">
    <div class="large-12 columns">

        <section>
            <img id="banner" src="/images/courseLogo.png" />
        </section>

        {{outlet}}
    </div>
</div>

<div style="height: 200px; width: 100%;">

</div>
